@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #121212;
}

#root {
  width: 100vw;
  height: 100vh;
}